nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 6em;
    width: 100%;
    background-color: #faf8f6;
    z-index: 3;
    button {
        margin-right: 1.5em;
    }

    p {
        color: #545454;
        margin: auto;
        font-size: 3em;
    }
}