.hero {
  display: flex;
  width: 100%;
  height: 70em;
  background-color: #faf8f6;
  position: absolute;
  z-index: 1;

  img {
    height: 50em;
    width: 80em;
    margin: 10em;
    object-fit: cover;
  }
}
